.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.625rem 1.25rem;
  background-color: gold;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.button:hover {
  background-color: goldenrod;
}

.redButton {
  background-color: red;
  color: white;
}

.redButton:hover {
  background-color: darkred;
}
.blackButton {
  background-color: black;
  color: white;
  width: 1%; /* 1/5 of the original size */
  margin-left: auto; /* Pushes the button to the right */
}

.blackButton:hover {
  background-color: darkgray;
}