.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.625rem 1.25rem;
  background-color: gold;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.button:hover {
  background-color: goldenrod;
}

.redButton {
  background-color: red;
  color: white;
}

.redButton:hover {
  background-color: darkred;
}