.botonFlotante {
    font-family: Arial, sans-serif;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: green;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: transform 0.2s ease-in-out;
}

.botonFlotante:hover {
    transform: scale(1.1);
    background-color: darkgreen;
}

.redButton {
    background-color: red;
    color: white;
    position: fixed; /* Asegúrate de que sea fijo como el otro botón */
    bottom: 2rem; /* Mantén la misma distancia desde abajo */
    left: 2rem; /* Cambia 'right' por 'left' para moverlo a la izquierda */
}

.redButton:hover {
    background-color: darkred;
}